# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.9
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  -   repo: https://github.com/psf/black
      rev: '22.1.0'
      hooks:
        - id: black
  - repo: https://github.com/pycqa/flake8
    rev: '4.0.0'
    hooks:
      - id: flake8
        additional_dependencies: [ flake8-docstrings ]
