# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.9

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'master']
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  -   repo: https://github.com/psf/black
      rev: '22.1.0'
      hooks:
        - id: black

  - repo: https://github.com/pycqa/flake8
    rev: '4.0.1'
    hooks:
      - id: flake8
        additional_dependencies: [ flake8-docstrings ]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
      - id: pyupgrade
        args: [
          '--py37-plus'
        ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        additional_dependencies: [types-freezegun==1.1.6]
