# Make a copy of this file, and name it credentials.py if you want to test actually logging in using your real credentials
# Oh, and replace the data in credentials.py with your own
spin = '1234'
username = 'john.doe@localhost.localnet'
pasword = 'passw0rd'
vin = 'WVWZZXXXXX1234567'
