name: Release

on:
  release:
    types: [released]

jobs:
  build:
    if: "!github.event.release.prerelease"
    name: Upload Package to PyPi Repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build wheel twine setuptools setuptools_scm
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build package
        run: |
          python -m build --outdir dist/
          python -m twine check dist/*
          python -m setuptools_scm --strip-dev

      - name: Publish package to PyPI
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_TOKEN_PROD }}
          print_hash: true
